
## <summary>policy for QUISH</summary>


########################################
## <summary>
##	Transition to QUISH.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`QUISH_domtrans',`
	gen_require(`
		type QUISH_t, QUISH_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, QUISH_exec_t, QUISH_t)
')


########################################
## <summary>
##	Execute QUISH server in the QUISH domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`QUISH_initrc_domtrans',`
	gen_require(`
		type QUISH_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, QUISH_initrc_exec_t)
')


########################################
## <summary>
##	Search QUISH lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`QUISH_search_lib',`
	gen_require(`
		type QUISH_var_lib_t;
	')

	allow $1 QUISH_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read QUISH lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`QUISH_read_lib_files',`
	gen_require(`
		type QUISH_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, QUISH_var_lib_t, QUISH_var_lib_t)
')

########################################
## <summary>
##	Manage QUISH lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`QUISH_manage_lib_files',`
	gen_require(`
		type QUISH_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, QUISH_var_lib_t, QUISH_var_lib_t)
')

########################################
## <summary>
##	Manage QUISH lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`QUISH_manage_lib_dirs',`
	gen_require(`
		type QUISH_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, QUISH_var_lib_t, QUISH_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a QUISH environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`QUISH_admin',`
	gen_require(`
		type QUISH_t;
		type QUISH_initrc_exec_t;
		type QUISH_var_lib_t;
	')

	allow $1 QUISH_t:process { ptrace signal_perms };
	ps_process_pattern($1, QUISH_t)

	QUISH_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 QUISH_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, QUISH_var_lib_t)

')

