# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=QUISH
Comment=QUISH QT test network
GenericName=QUISH Digital Currency QT client testnet network
Exec=QUISH-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/QUISH_testnet.png
MimeType=x-scheme-handler/QTV;
Categories=X-Office;X-Finance;
Keywords=internet;QUISH;zQTV;tQTV;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
